# Interpreter Configuration File

# Section for specifying directory paths
[Paths]
python_home_dir = C:\Program Files\Adobe\Adobe After Effects 2024\Support Files\Python
lib_dir = C:\Program Files\Adobe\Adobe After Effects 2024\Support Files\Python\Lib
site_packages_dir = C:\Program Files\Adobe\Adobe After Effects 2024\Support Files\Python\Lib\site-packages

# Section for interpreter settings
[InterpreterSettings]
filesystem_encoding = utf-8
filesystem_errors = surrogateescape
